.button {
  min-width: 168px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: @white;
  display: flex;
  justify-content: center;
  align-items: center;
}
