// .navigation {}
// НАДО ПЕРЕВЕРСТАТЬ КНОПКУ-ГАМБУРГЕР - СДЕЛАТЬ ЕЁ ЧЕРЕЗ ИНПУТ + СВЕРСТАТЬ NAV
.burger-size-line () {
  width: 24px;
  height: 1.5px;
  background-color: @black;
}

.navigation__toggle {
  .burger-size-line;
  border: none;
  position: relative;
  &::before {
    content: "";
    .burger-size-line;
    position: absolute;
    top: -8px;
    left: 0;
  }
  &::after {
    content: "";
    .burger-size-line;
    position: absolute;
    top: 8px;
    left: 0;
  }
}

// .navigation__wrapper {}
// .navigation__list {}
// .navigation__item {}
// .navigation__item--current {}
