.page-header {
  min-width: 320px;
  min-height: 66px;
  // width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid rgb(0, 255, 64);
  outline-offset: -1px;
}

.page-header__wrapper {
  width: 280px;
  height: 100%;
  max-width: 280px;
  // outline: 1px solid red;
  // outline-offset: -1px;
  position: relative;
}

.page-header__logo {
  height: 100%;
  display: flex;
  // outline: 1px solid blue;
  // outline-offset: -1px;
}

.page-header__image:first-child {
  align-self: flex-start;
  margin-top: 11px;
  // margin-top: -7px;
  outline: 1px solid rgb(0, 195, 255);
  outline-offset: -1px;
}

.page-header__image:nth-child(2) {
  margin-left: 56px;
  // outline: 1px solid gold;
  // outline-offset: -1px;
}

// .page-header__navigation {}
