// .page-header {}

.page-header__wrapper {
  max-width: 320px;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header__logo {
  width: 191px;
  display: flex;
  justify-content: space-between;
  margin-right: 65px;
}

.page-header__image:first-child {
  margin-top: -5px;
}

.page-header__navigation {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
